.eg-wrapper {
    position: absolute;
    background-color: #333;
    min-width: 320px;
    min-height: 320px;
    left: 50%;
    margin-left: -25%;
    top: 50%;
    margin-top: -20%;
    padding: 20px;
    background-image: url(content/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.eg-footer {
    position: absolute;
    bottom: -45px;
    left: 0px;
    right: 0px;
    height: 40px;
    text-align: center;
}

.eg-close {
    background-color: #FF3333;
    background-image: url(content/close.svg);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    -moz-border-radius: 40px;
    border-radius: 40px;
    position: absolute;
    cursor: pointer;
    top: -15px;
    right: -15px;
    height: 40px;
    width: 40px;
}

.eg-footer .eg-icon {
    background-color: #AAA;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    -moz-border-radius: 40px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px;
}

.eg-forward {
    background-image: url(content/right.svg);
}

.eg-back {
    background-image: url(content/left.svg);
}

.eg-overlay {
    position: absolute;
    background-color: #FFF;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.9;
}
